.navbar {
  background-color: white;
  margin: 0;
  display: flex;
  position: fixed;
  justify-content: space-between;
  width: 100%;
  height: auto;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  z-index: 2;
}

.brand_name{
  font-size: 1.3rem;
  margin: 1rem 1.1rem;
  font-weight: 600;
  text-decoration: none;
  color: black;
  letter-spacing: 1px;
}

/* .brand_name:hover{
  scale: 1.1;
} */
.navbar ul {
  list-style: none;
  display: flex;
  margin: 0;
}

.navbar li {
  margin: 1rem 1.1rem;
  font-size: 1.2rem;
}
